streamlit==1.32.1
openai==0.27.0
pandas==1.5.3
requests==2.28.2
langchain==0.1.12
tiktoken==0.6.0
pypdf2==3.0.1
chromadb==0.4.24
langchain-community==0.0.28
docx2txt==0.8
beautifulsoup4==4.12.2
openai-whisper
soundfile